/*
 [] 태그 요소
*/
b .text-fragment {
  font-weight: bold !important;
}

i .text-fragment {
  font-style: italic !important;
}

strike .text-fragment {
  text-decoration: line-through !important;
}

/*
  새로 추가한 요소 css
*/

span.iconttv-newline {
  /**
  크게 (.icon), 작게 (.icon-small) 이미지가 담김.
  한 줄에 하나의 이미지만 표현하도록 함.
  */
  display: block;
}

img.iconttv-large {
  width: 100px;
  height: 100px;
}
img.iconttv-medium {
  width: 70px;
  height: 70px;
}
img.iconttv-emoji {
  width: 28px;
  height: 28px;
}

img.iconttv-common[data-name^='볼트공중'] {
  animation: rotation 0.5s infinite linear;
}

/* img.iconttv-common[data-name^='관짝'] {
  animation: shake 0.5s infinite linear;
} */

.iconttv-common:hover {
  background: var(--color-background-interactable-alpha);
  border-radius: var(--border-radius-medium);
}

.iconttv-hide {
  display: none !important;
}

/* 
애니메이션
*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes disappear {
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes appear {
  100% {
    opacity: 100%;
    visibility: visible;
  }
}
